.opq1{
    background: rgba(0, 0, 0, 1);
  }

.fnt{
    color: white;
    font-family: 'Domine', sans-serif;
  }

.fnt1{
  font-family: 'Antic Slab', sans-serif;
  font-style: italic;
  color: white;
}

.bgcardgrn{
  background-color:  #00FF00;
}

.mrgleft{
  margin-left: 50px !important;
}

.mrgright{
  margin-right: 250px !important;
}
